<div class="container" id="principal">
    <div id="logotipo" class="logotipo"></div>
    <div id="identificacao">
        <h1 class="login">Login</h1>
    </div>
    <div id="campos_login">
        <label class="labelEmail minhafonte" id="labelEmail">E-mail</label>
        <input class="inputEmail" type="email" #email id="email" name="email" placeholder="Digite seu e-mail">

        <label class="labelSenha minhafonte" id="labelSenha">Senha</label>
        <input class="inputSenha"  type="text" #senha id="senha" name="senha" placeholder="Digite sua senha" >
    </div>
    <div id="botoesformulario">
        <span id="esqueceuSenha" class="esqueceuSenha" (click)="esqueceuSenha()">Esqueceu a senha</span>
        <button class="btnEntrar" id="btnEntrar" (click)="entrar(email.value, senha.value)">ENTRAR</button>
    </div>
</div>
<div id="retangulo" class="retanguloLateral">
    <div class="simbolo" id="simbolo"></div>
</div>
