
<div id="listaMenu">

    <div id="logotipo" class="logotipo"></div>

    <span class="spanMenu" (click)="PageDashboard()"> <ul id = "dashboardMenu">Dashboard</ul> </span>
    <span class="spanMenu" > <ul id = "clientesMenu">Clientes</ul> </span>
    <span class="spanMenu"> <ul id = "parceirosMenu">Parceiros</ul> </span>
    <span class="spanMenu"> <ul id = "relatoriosMenu">Relatórios</ul> </span>
    <span class="spanMenu"> <ul id = "configuracoesMenu">Configurações</ul> </span>

    <div id="dashboardIcon"></div>
    <div id="clienteIcon"></div>
    <div id="parceirosIcon"></div>
    <div id="relatoriosIcon"></div>
    <div id="configuracoesIcon"></div>
</div>


<div id = "principal">

    <h1 id="titulo">Clientes</h1>
    <div id="imagemADM"></div>
    <div id="notificacoes"></div>
    <p id="textoSuperiorDireito">Olá, Susi!</p>

    <button id="botaoNovoCliente">Novo Cliente</button>

    <div id="procurarIcon"></div>
    <div id="filtroIcon"></div>

    <table border="0" id="tabelaDashBoard">
        <tr>
            <th id="nomeEmpresa">NOME DA EMPRESA </th>
            <th id="segmento">SEGMENTO </th>
            <th id="licencas">LICENÇAS </th>
            <th id="totalresiduos">ULTIMO TOTAL DE RESÍDUOS </th>
            <th id="statuscliente">STATUS DO CLIENTE </th>
        </tr>

        <tr id="linha1tabela">
           <div id="EmpresaIcon"></div> <td id="l1c1">DPC Brasil</td>
            <div id="divisao1"></div>
            <td id="l1c2">Industria e Comércio</td>
            <td id="l1c3">Em dia</td>
            <td id="l1c4">8.297,500</td>
            <td id="l1c5">ATIVO</td>
            
        </tr>
            
    </table>
   
   

</div>

